$alert_color: #eb3737;

.marker{
    content: "";
    background: #00ff91;
    border-radius: 100%;
}

.pulse {
    content: "";
    background: $alert_color;
    border-radius: 100%;
    &::hover{

        background: rgb(92, 169, 92);
    }
    
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 100%;
        background: $alert_color;
        z-index: -1;
        opacity: 0.7;
        animation: pulse 1s ease-out infinite; 
    }
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 100%;
        background: $alert_color;
        z-index: -1;
        opacity: 0.7;
        animation: pulse 1s  0.25s ease-out infinite; 
    }

}



@keyframes pulse {
    to{
        transform: scale(5);
        opacity: 0;
    }
}
